#normal excludes
/node_modules/*

#add main exclude file and include if you need subfolder to be included in git
public/*
!/public/core/*
!/public/build/*


#exclude again and include the subfolder you want do it only by one level
/public/core/*
!/public/core/elements/*

!/public/.htaccess
