.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  background-color: theme-color(secondary);
  color: white;
  padding: 10px 15px;
  border-radius: 2px;
  min-width: 120px;
  width: auto;
  width: fit-content;
  margin-top: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: $dff;
  letter-spacing: 0.7px;
  position: relative;
  transition: all 0.2s ease-in;
  border: 0;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    color: white;
    background-color: mix(white, theme-color(secondary), 10%);
  }

  &:active {
    background-color: mix(white, theme-color(secondary), 20%);
  }
}

.btn--outline {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  letter-spacing: 0px;
  max-width: none;
  &:active,
  &:focus,
  &:hover {
    color: white;
    opacity: 0.6;
    background-color: transparent;
  }
}

.btn--outline-dark {
  @extend .btn--outline;
  border: 2px solid theme-color(primary);
  color: theme-color(primary);

  &:active,
  &:focus,
  &:hover {
    color: theme-color(primary);
    opacity: 0.6;
  }
}
