.event-card__outer-warp {
  background-color: $grey;
  @include padding-leader(2);
  @include padding-trailer(2);

  // SMALL MQ
  @include media-breakpoint-up("sm") {
    @include padding-leader(3);
    @include padding-trailer(3);
  }

  // MEDIUM MQ
  @include media-breakpoint-up("md") {
    @include padding-leader(4);
    @include padding-trailer(4);
  }
}

.event-card__featured-grid {
  // SMALL MQ
  @include media-breakpoint-up("sm") {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    @include padding-trailer(1);
  }
  // MEDIUM MQ
  @include media-breakpoint-up("md") {
    @include padding-trailer(2);
  }
}

.event-card__grid {
  display: flex;
  flex-wrap: wrap;

  > * {
    // SMALL MQ
    @include media-breakpoint-up("sm") {
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    // LARGE MQ
    @include media-breakpoint-up("lg") {
      &:nth-child(2n) {
        margin-right: gutter(12);
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

.event-card {
  background-color: $fresh;
  color: white;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  > * {
    width: 100%;
  }

  a {
    color: white;
  }
  @include margin-trailer(2);

  &:nth-child(3n+1) {
    background-color: $pink;
  }

  &:nth-child(3n+2) {
    background-color: $teal;
  }
}

.event-card__text {
  @include pad();
  @include padding-leader(2);
  @include padding-trailer(2);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
}

.event-card__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.event-card__combined-heading {
  width: calc(100% - 114px);
  flex-grow: 1;
  min-width: 165px;
  display: block;
}

.event-card__grid-title {
  @include base-base(32px, $hff, 3);
  color: white;

  // SMALL MQ
  @include media-breakpoint-up("sm") {
    @include base-base(42px, $hff, 3);
  }
}

.event-card__title {
  @include base-base(24px, $hff, 1);
}

.event-card__img {
  display: block;
  width: 96px;
  height: 100%;
  margin-right: 16px;
  @include object-fit(contain, center);
}

.event-card__btn-wrap {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.event-card__btn {
  max-width: 100%;
}
