
.forms__outer_wrap {
  @extend .wrap;
}

.forms__title {
  @include base-base(42px, $hff, 2, 0);
}

.forms__card {
  @include pad();
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  align-self: flex-start;
  @include padding-leader(2);
  @include padding-trailer(2);
  border-radius: 2px;
}

// SMALL MQ
@include media-breakpoint-up("sm") {
  .forms__content {
    @include span(6 of 12);
    margin-right: gutter(12)
  }
  .forms__card {
    @include span(6 of 12);
  }
}

// MEDIUM MQ
@include media-breakpoint-up("md") {
  .forms__content {
    @include span(6 of 12);
    margin-right: span(1 of 12) + gutter(12);
  }
  .forms__card {
    @include span(5 wide of 12);
  }
}
