.header__nav-strip {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  background-color: white;
  border-bottom: 2px solid theme-color(primary);

  // MEDIUM MQ
  @include media-breakpoint-up("md") {
    display: block;
    min-height: 56px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .7);
    z-index: 2;
  }
}

.header__logo-link {
  display: block;
  font-size: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  overflow: hidden;

  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.header__logo {
  display: block;
  max-width: 150px;
  object-fit: contain;
  object-position: center;
}

.header__cdu-logo {
  position: absolute;
  top: 0;
  left: 8px;
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;

}

.header__codefair-logo {
  position: absolute;
  top: 0;
  left: 120px;
  height: 52px;
  padding-top: 3px;
  padding-bottom: 0;

  // LARGE MQ
  @include media-breakpoint-up("lg") {
    left: 150px;
  }
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;

}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 200px;
  margin-right: -12px;

  // LARGE MQ
  @include media-breakpoint-up("lg") {
    margin-left: 0;
  }
}

.header__nav-link {
  display: block;
  width: auto;
  color: inherit;
  text-align: center;
  font-weight: 500;
  @include base-base(14px, $dff, 1, 0, $lines: 1.5);
  padding: 16px 12px;
  margin-bottom: 0;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: background-color 0.25s linear;
  color: theme-color(primary);
  font-family: $dff;

  &:active,
  &:focus,
  &:hover {
    color: white;
    text-decoration: none;
    background-color: theme-color(primary);
  }
}

a.header__nav-link.active {
  background-color: theme-color(primary);
  color: white;
}

.header__nav-cta-wrap {
  position: relative;
}

.header__nav-cta {
  margin-left: 24px;
  padding-right: 36px;
  margin-top: 6px;
  margin-bottom: 6px;
  align-self: flex-start;
  position: relative;

  &::before {
    content: ">";
    font-size: 18px;
    font-family: $dff;
    right: 12px;
    top: 8px;
    transform: rotate(90deg);
    position: absolute;
    transition: transform 0.25s linear;
  }

  &:active,
  &:focus,
  &:hover {
    outline: none;
    color: white;
    background-color: mix(white, theme-color(secondary), 10%);
  }

  &:active {
    background-color: mix(white, theme-color(secondary), 20%);
  }
}

.header__nav-cta-dropdown {
  position: absolute;
  display: none;
  top: 50px;
  background-color: white;
  z-index: 9;
  left: 24px;
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

  li {
    padding: 0;
    margin: 0;

    &:last-child {
      a {
        border-radius: 0 0 3px 3px;
      }
    }
  }

  a {
    @include base-base(16px, $dff, 0);
    display: block;
    margin-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 11px;
    color: theme-color(primary);
    transition: background-color 0.25s linear;

    &:hover,
    &:focus {
      background-color: mix(theme-color(primary), white, 20%);
      outline: none;
      text-decoration: none;
    }
  }
}

.header__nav-cta-wrap--open {
  .header__nav-cta {
    &::before {
      transform: rotate(-90deg);
    }
  }

  .header__nav-cta-dropdown {
    display: block;
  }
}