
.header__nav-strip{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 0;
  background-color: white;
  // MEDIUM MQ
  @include media-breakpoint-up("md") {
    display: block;
    height: 56px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .7);
    z-index: 2;
  }
}

.header__logo-link {
  display: block;
  font-size: 0;
  padding: 0;
  margin: 0;
  text-decoration: none;
  overflow: hidden;
  &:hover, &:focus,&:active{
    text-decoration: none;
  }
}

.header__logo {
  display: block;
  max-width: 150px;
  object-fit: contain;
  object-position: center;
}

.header__cdu-logo{
  position: absolute;
  top: 0;
  left: 8px;
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;
}

.header__codefair-logo{
  position: absolute;
  top: 0;
  left: calc(20px + 150px);
  height: 52px;
  padding-top: 3px;
  padding-bottom: 0;
}

.header__nav {
  display: block;
  flex-grow: 1;
}

.header__nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: -12px;
  margin-right: -12px;
}

.header__nav-link{
  display: block;
  width: auto;
  color: inherit;
  text-align: center;
  font-weight: 500;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: background-color 0.25s linear;
  color: theme-color(primary);
  font-family: $dff;
  &:hover,
  &:focus,
  &:active{
    color: white;
    text-decoration: none;
    background-color: theme-color(primary);
  }
}
a.header__nav-link.active{
  background-color: theme-color(primary);
  color: white;
}
