<div class="container rte wrap">
  <h1>HTML5 and CSS3</h1>
  <h2>Fonts and Typography</h2>
  <h3>Introduction</h3>
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes .</p>

  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes </p>

  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes </p>

  <h3>Learning Outcomes</h3>

  <ul>
    <li>Why do fonts matter?</li>
    <li>What’s the difference between a serif and sans-serif font?</li>
    <li>What are <code>font-family</code> attributes used for?</li>
    <li>How is the active font determined in a <code>font-family</code>?</li>
    <li>Where does the browser actually get its fonts from?</li>
    <li>Where can you get additional fonts from and how do you get them onto your page?</li>
    <li>What are the disadvantages of using web fonts? Of loading your own?</li>
    <li>What are the important properties of fonts that you can specify using CSS?</li>
  </ul>

  <h3>Assignment</h3>

  <ol>
    <li>Read <a href="#">Shay Howe on Fonts and Typography</a></li>
    <li>Browse through <a href="#">A Beginner’s Guide to Using Google Web Fonts by DesignShack</a>, but don’t get too lost in the details.</li>
    <li>Browse the <a href="#">Google Web Fonts</a> and see if any of them seem interesting to you.</li>
  </ol>

  <h3>Additional Resources</h3>
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes </p>

  <ul>
    <li><a href="#">Importing your own fonts</a></li>
  </ul>
  <h4>Resources</h4>
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes </p>

</div>

<section class="summary-card__outer-warp">
  <div class="container">
    <h2 class="summary-card__grid-title">Event Grid Name</h2>
    <div class="summary-card__grid">
      <article class="summary-card col-sm-6 col-lg-4">
        <img class="summary-card__img" src="http://unsplash.it/700/400" alt="#">
        <div class="summary-card__text">
          <h3 class="combined-heading">
          <strong class="summary-card__title combined-heading__title">Event Name</strong>
          <span class="combined-heading__tagline">Prize: $500</span>
        </h3>
          <div class="rte">
            <p>A search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p>
            <p>A search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p>

          </div>
          <div class="summary-card__btn-wrap">
          <a href="#" class="summary-card__btn btn">Sign up</a>
          </div>
        </div>
      </article>
      <article class="summary-card col-sm-6 col-lg-4">
        <img class="summary-card__img" src="http://unsplash.it/700/400" alt="#">
        <div class="summary-card__text">
          <h3 class="combined-heading">
          <strong class="summary-card__title combined-heading__title">Event Name</strong>
          <span class="combined-heading__tagline">Prize: $500</span>
        </h3>
          <div class="rte">
            <p>A search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p>
          </div>
          <div class="summary-card__btn-wrap">
          <a href="#" class="summary-card__btn btn">Sign up</a>
          </div>
        </div>
      </article>
      <article class="summary-card col-sm-6 col-lg-4">
        <img class="summary-card__img" src="http://unsplash.it/700/400" alt="#">
        <div class="summary-card__text">
          <h3 class="combined-heading">
          <strong class="summary-card__title combined-heading__title">Event Name</strong>
          <span class="combined-heading__tagline">Prize: $500</span>
        </h3>
          <div class="rte">
            <p>A search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p>
            <p>A search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p>

          </div>
          <div class="summary-card__btn-wrap">
          <a href="#" class="summary-card__btn btn">Sign up</a>
          </div>
        </div>
      </article>
      <article class="summary-card col-sm-6 col-lg-4">
        <img class="summary-card__img" src="http://unsplash.it/750/400" alt="#">
        <div class="summary-card__text">
          <h3 class="combined-heading">
          <strong class="summary-card__title combined-heading__title">Event Name</strong>
          <span class="combined-heading__tagline">Prize: $500</span>
        </h3>
          <div class="rte">
            <p>A search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p>
            <p>A search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p>
          </div>
          <div class="summary-card__btn-wrap">
          <a href="#" class="summary-card__btn btn">Sign up</a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>
