@function container-max($name, $breakpoints: $container-max-widths) {
  $max: map-get($breakpoints, $name);
  @return if($max != 0, $max, null);
}

@mixin get-container-max-width($name, $max-widths: $container-max-widths){
  $max: container-max($name, $max-widths);
  @if $max {
    max-width: $max;
  } @else {
    max-width: auto;
  }
}

.container {
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up("sm") {
    @include get-container-max-width("sm");
  }

  @include media-breakpoint-up("md") {
    @include get-container-max-width("md");
  }

  @include media-breakpoint-up("lg") {
    @include get-container-max-width("lg");
  }

  @include media-breakpoint-up("xl") {
    @include get-container-max-width("xl");
  }

}
