@import "grid";
@import "breakpoints";
@import "span";

@function theme-color($color, $colors: $theme-colors) {
  $theme-color: map-get($colors, $color);
  @return if($theme-color != 0, $theme-color, null);
}

@mixin pad(){
  padding-right: 12px;
  padding-left: 12px;
  // SMALL MQ
  @include media-breakpoint-up("sm") {
    padding-right: 24px;
    padding-left: 24px;
  }
}
