@mixin span($context: susy-get('columns'), $config: ()) {
  width: span($context, $config);
}

@mixin push($context: susy-get('columns'), $config: ()) {
  margin-left: span($context, $config);
}

.col-fw {
  width: 100%;
}

@for $j from 2 to 6 {
  .omega-child-#{$j}n {
    > * {
      &:nth-child(#{$j}n) {
        margin-right: 0;
      }
    }
  }
}


@each $breakpoint, $value in $grid-breakpoints {
  @for $i from 1 through 12 {
    @include media-breakpoint-up(#{$breakpoint}) {
      .col-#{$breakpoint}-#{$i} {
        @include span($i of 12);
        margin-right: gutter(12);
        &:last-child {
          margin-right: 0;
        }
      }

      .omega-child-#{$breakpoint}-#{$i}n {
        > * {
          &:nth-child(#{$i}n){
            margin-right: 0;
          }
        }
      }

      .push-#{$breakpoint}-#{$i} {
        @include push($i of 12);
      }
    }

    @include media-breakpoint-only(#{$breakpoint}) {
      .col-#{$breakpoint}-only-#{$i} {
        @include span($i of 12);
        margin-right: gutter(12);
        &:last-child {
          margin-right: 0;
        }
      }

      .omega-child-#{$breakpoint}-only-#{$i}n {
        > * {
          &:nth-child(#{$i}n){
            margin-right: 0;
          }
        }
      }
    }
  }
}
