[[$head]]

<div class="banner__outer_wrap">
  <section class="banner banner--small"
    style="background-image:url('[[*tvBannerBgImage:default=`[[#1.tvBannerBgImage]]`:phpthumbof=`w=1920&q=70`]]')">
    <div class="container banner__inner-wrap">
      <div class="banner__text">
        <h1 class="combined-heading">
          <strong class="combined__heading-title">[[*tvBannerHeading:default=`[[*longtitle]]`:htmlent]]</strong>
          [[*tvBannerSubHeading:notempty=`<span class="combined-heading__tagline">[[*tvBannerSubHeading]]</span>`]]
        </h1>
      </div>
    </div>
  </section>
</div>


<section class="forms__outer_wrap">

  <div class="container">

    <div class="forms__card col-md-10 push-md-1">


      [[!renderForm? &form=`[[*tvFormSelect]]` &formTpl=`cbFormTpl`]]

    </div>
  </div>

</section>

[[*content]]

[[$footer]]