[[$head]]

<section class="forms__outer_wrap">

  <div class="container">

    <div class="forms__content">
      <h1 class="forms__title">[[*tvFormsHeading:default=`[[*longtitle]]`:htmlent]]</h1>

      [[*tvFormsDescription:notempty=`<div class="rte">
        [[*tvFormsDescription]]
      </div>`]]

    </div>

    <div class="forms__card">
      <h2 class="form__title">Register now!</h2>

      [[!FormIt?
          &hooks=`spam,redirect,formHandler`
          &redirectTo=`10`
          &validate=`yourname-trap:blank`
      ]]

      <form class="form" action="[[~[[*id]]]]" method="post">
        [[!+fi.validation_error_message:notempty=`<p class="form__error">[[!+fi.validation_error_message]]</p>`]]

        [[!getImageList?
            &tvname=`tvForm`
            &tpl=`inputs`
        ]]
         [[-this is a honey pot to keep spam out]]
        <input type="hidden" name="yourname-trap" value="">

        <input type="submit" class="btn" value="Submit">
      </form>
    </div>
  </div>

</section>

[[*content]]



<!-- <section class="summary-card__outer-warp">
  <div class="container">
    [[#[[*parent]].tvEventsHeading:notempty=`<h2 class="summary-card__grid-title">[[#[[*parent]].tvEventsHeading]]</h2>`]]
    <div class="summary-card__grid">
      [[pdoResources?
          &parents=`[[*parent]]`
          &tpl=`[[*parent:is=`2`:then=`tplEventCardItem`:else=`tplSummaryCard`]]`
          &tvPrefix=``
          &includeTVs=`tvSummaryCardDescription,tvSummaryCardHeading,tvSummaryCardImage`
          &processTVs=`tvSummaryCardImage`
          &includeContent=`0`
          &limit=`0`
          &depth=`0`
      ]]

    </div>
  </div>
</section> -->

[[$footer]]
