[[$header]]
<section class="article-img-strip__wrap">
  <div class="container">
    <article class="article-img-strip">
      <img class="article-img-strip__img" src="http://placehold.it/700x400" alt="#">
      <div class="article-img-strip__text">
        <h2>When is code fair</h2>
        <ul>
          <li> November 9, 2018 </li>
          <li>Charles Darwin University</li>
        </ul>
      </div>
      <div class="countdown-timer">

      </div>
    </article>
  </div>
</section>
<section class="article-img-strip__wrap">
  <div class="container">
    <article class="article-img-strip">
      <img class="article-img-strip__img" src="http://placehold.it/700x400" alt="#">
      <div class="article-img-strip__text">
        <h2>When is code fair</h2>
        <ul>
          <li> November 9, 2018 </li>
          <li>Charles Darwin University</li>
        </ul>
      </div>
      <div class="countdown-timer">

      </div>
    </article>
  </div>
</section>
<section class="article-img-strip__wrap">
  <div class="container">
    <article class="article-img-strip">
      <img class="article-img-strip__img" src="http://placehold.it/700x400" alt="#">
      <div class="article-img-strip__text">
        <h2>When is code fair</h2>
        <ul>
          <li> November 9, 2018 </li>
          <li>Charles Darwin University</li>
        </ul>
      </div>
      <div class="countdown-timer">

      </div>
    </article>
  </div>
</section>
<section class="article-img-strip__wrap">
  <div class="container">
    <article class="article-img-strip">
      <img class="article-img-strip__img" src="http://placehold.it/700x400" alt="#">
      <div class="article-img-strip__text">
        <h2>When is code fair</h2>
        <ul>
          <li> November 9, 2018 </li>
          <li>Charles Darwin University</li>
        </ul>
      </div>
      <div class="countdown-timer">

      </div>
    </article>
  </div>
</section>
[[$footer]]
