[[$header]]
<section class="article-img-strip__wrap">
  <div class="container">
    <article class="article-img-strip">
      <img class="article-img-strip__img" src="http://placehold.it/700x400" alt="#">
      <div class="article-img-strip__text rte">
        <h2>When is code fair</h2>
        <ul>
          <li> November 9, 2018 </li>
          <li>Charles Darwin University</li>
        </ul>
      </div>
      <div class="countdown-timer">

      </div>
    </article>
  </div>
</section>
<section class="article-img-strip__wrap">
  <div class="container">
    <article class="article-img-strip">
      <img class="article-img-strip__img" src="http://placehold.it/700x400" alt="#">
      <div class="article-img-strip__text rte">
        <h2>When is code fair</h2>
        <p>Something like 95% of the web is text and yet most web developers don’t pay any heed whatsoever to typography – it’s this mysterious esoteric subject reserved for designer geeks and their lattes.  You are not “most web developers”.</p>
        <ul>
          <li> November 9, 2018
            <ul>
              <li> November 9, 2018
                <ul>
                  <li> November 9, 2018</li>
                  <li>Charles Darwin University</li>
                  <li> November 9, 2018</li>
                  <li>Charles Darwin University</li>
                </ul>
              </li>
              <li>Charles Darwin University</li>
            </ul>
          </li>
            <li>Charles Darwin University</li>
          </ul>
        </div>
      </article>
    </div>
  </section>
  <section class="article-img-strip__wrap">
    <div class="container">
      <article class="article-img-strip">
        <img class="article-img-strip__img" src="http://placehold.it/700x400" alt="#">
        <div class="article-img-strip__text rte">
          <h2>When is code fair</h2>
          <ul>
            <li> November 9, 2018 </li>
            <li>Charles Darwin University</li>
          </ul>
        </div>
      </article>
    </div>
  </section>
  <section class="article-img-strip__wrap">
    <div class="container">
      <article class="article-img-strip">
        <img class="article-img-strip__img" src="http://placehold.it/700x400" alt="#">
        <div class="article-img-strip__text rte">
          <h2>When is code fair</h2>
          <ul>
            <li> November 9, 2018 </li>
            <li>Charles Darwin University</li>
          </ul>
        </div>
      </article>
    </div>
  </section>
  [[$footer]]
